body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color:rgb(247, 247, 247);
    background-color: #141414;
    -webkit-font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
}

img{
    width: 50px;
    height: 50px;
}

*{
    box-sizing: border-box;
}

.content{ 
    border-radius: 8px;
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 50px;
}

.countdown{
    border-radius: 10px;
    font-size: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

.info{
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
}

.info input{
    background: none;
    border: none;
    width: 40px;
    text-align: center;
    color:rgb(247, 247, 247);
}

\\сложно 
.info input::-webkit-outer-spin-button,
.info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num{
    border-radius: 10px;
    background: #2d2d2d;
    width: 150px;
    text-align: center;
}

.dots{
    color: #32ce2f;
    font-size: 150px;
}

.ico{
    font-size: 30px;
}
button{
    color:aliceblue;
    background-color: #2d2d2d;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight:700 ;
    gap:10px;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-ico img{
    width: 50px;
    height: 50px;
}